[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"

[dev-packages]
pytest = "*"
mongomock = "*"
pytest-mock = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
commitizen = "*"
mypy = "*"

[requires]
python_version = "3.11"
